body{
    background-color: #161616;
    height: 2000px;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BF0426;
    padding: 15px 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
}

.checkCoach{
    margin-top: 90px;
}

#header-img{
    border-width: 1px;
    border-radius: 100px;
}

.nav-link{
    text-decoration: none;
    color: #FEF9FF;
    border: solid;
    border-width: 1px;
    padding: 20px;
}

#nav-bar{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.hook{
    margin-top: 100px;
    height: 600px;
    display: grid;
    grid-template-rows: 200px 300px;
    justify-content: start;
    padding: 60px;
    background-color: rgb(33,33,33);
    color: white;
}

.hookH1{
    font-size: 60px;
}

.hookDesc{
    font-size: 26px;
}

.letsStart{
    background-color: goldenrod;
    color: #0A0E17;
    font-weight: bold;
    padding: 15px 20px;
}

.vidContainer{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 80px;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
}

.vidContainer.show {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Move to normal position */
}

.vidContainer iframe {
    width: 100%;
    border-radius: 30px; /* Same value as the container */
}

.clientContainer{
    display: flex;
    flex-direction: column;
    gap: 90px;
    margin-top: 70px;
    margin-bottom: 90px;
}

.clientTitle{
    font-size: 80px;
    color: whitesmoke;
    margin-top: 50px;
}


.clientDesc{
    color: white;
    font-size: 14px;
}

form{
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.form-container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    background-color: #0A0E17;
    padding: 40px;
    flex-direction: column;
    text-align: center;
    color: white;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#email{
    width: 300px;
}

#submit{
    width: 150px;
    background-color: #172D44;
}

.quotes{
    font-size: 30px;
}

.quotesContainer{
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin: 70px;
}

.meetCoach{
    margin-top: 70px;
    margin-bottom: 30px;
}

.coachImg1, .coachImg2, .coachImg3{
    width: 80%;
    height: 100%;
    border-radius: 20px;
    transition: transform 0.15s;
}




.about{
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    text-align: center;
    margin: 50px 80px;
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FEF9FF;
}

.about.showX {
    opacity: 1; /* Fade in */
    transform: translateX(0); /* Move to normal position */
}

.about2{
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    text-align: center;
    margin: 50px 80px;
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FEF9FF;
}

.about2.hiddenX{
    opacity: 0;
    transform: translateX(100%);
    transition: all 1s;
}

.about2.showX {
    opacity: 1; /* Fade in */
    transform: translateX(0); /* Move to normal position */
}

.coachList{
    display: flex;
    flex-direction: row;
    text-align: center;
    color: white;
    /* background-color: red; */
    gap: 30px;
    margin-top: 50px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 20px;
}

.coachName{
    background-color: #BF0426;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 50%;
    border: solid;
    border-width: 2px;
    border-top: none;
    border-radius: 0px 0px 20px 20px;
}

.gridContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    transition: transform 0.15s;
}

.gridContent:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.client-img{
    width: 30%;
    height: 30%;
    border-radius: 1000px;
}

.about-desc{
    width: 100%;
    color: #FEF9FF;
}

hr{
    color: #FEF9FF;
}

.hidden{
    opacity: 0;
    filter: blur(1px);
    transform: translateY(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.hiddenX{
    opacity: 0;
    filter: blur(1px);
    transform: translateX(-100%);
    transition: all 1s;
}

.showX{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}