html{
    scroll-behavior: smooth;
}

body{
    background-color: #181f25;
    color: #fceeb8;
    overflow-x: hidden;
    font-family: "Varela Round", sans-serif;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: #c3ffdf;
    border-radius: 10px;

}

.theNav{
    background-color: #184c45;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.navButton{
    text-decoration: none;
    color: #c3ffdf;
    border: solid;
    border-width: 3px;
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: bold;
    transition: background-color 0.15s ease, color 0.15s ease;
}

.navButton:hover{
    text-decoration: none;
    color: #184c45;
    background-color: #c3ffdf;
}

#welcome-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.hello{
    font-family: "Rubik Mono One", monospace;
    font-size: 3rem;
    /* border: solid; */
    padding: 10px 50px;
    color: #3cc47c;
    user-select: none;
    transition: 0.3s;
}

.hello span{
    display: inline-block;
    transition: transform 0.3s ease-out, color 0.3s ease;;
    transform: translateY(0px);
}

.hello:hover span{
    transform: translateY(-20px);
    color: #fceeb8;
    cursor: pointer;
}

.hello:hover + .frontEnd{
    opacity: 1;
    transform: translateY(30px);
}

.frontEnd{
    font-family: "Rubik Mono One", monospace;
    font-size: 1rem;
    user-select: none;
    pointer-events: none;
    position: absolute;
    transition: transform .3s ease, opacity .2s ease;
    transform: translateY(0px);
    opacity: 0;
    color: #fceeb8;
}

.toProf{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects{
    background-color: #111111;
    padding: 105px 0px;

}

.projTitle{
    color: #3cc47c;
    text-align: center;
    font-family: "Rubik Mono One", monospace;
    opacity: 0;
}

.hiddenY{
    opacity: 0;
    filter: blur(1px);
    transform: translateY(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 300px); /* ensures equal distribution */
    gap: 70px; /* controls spacing between grid items */
    padding: 20px; /* reduced padding for alignment */
    justify-content: center; /* centers the grid items if they do not fill the line */
}

.projImg {
    width: 100%; /* make image width fill the container */
    height: auto; /* maintain aspect ratio */
    display: block;
    border-radius: inherit;
}

.projText {
    background-color: rgb(14,14,14);
    color: #3cc47c;
    padding: 30px 20px; /* adjust padding to fit within the container */
    width: 100%; /* ensures it fills the container */
    text-align: center;
    margin: 0;
    border-radius: 0 0 50px 50px;
    font-weight: bold;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.single-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 7px 20px 0px black;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    overflow: hidden; /* ensures no overflow from children */
    position: relative;
    transition: .7s;
    overflow: hidden;
}

.single-content:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.single-content .title{
    margin: 0;
    position: absolute;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    /* font-weight: bold; */
    color: white;
    bottom: 40px;
    left: 25px;
    right: 25px;
    transition: .7s;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.titleText{
    margin: 0;
}

.img-text{
    width: 100%;
    height: 100%;
    background: rgba(23,23,23,.95);
    border-radius: inherit;
    font-family: "Varela Round", sans-serif;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: perspective(400px) rotateX(-90deg);
    transform-origin: center top 0;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 20px;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

.single-content:hover .img-text{
    opacity: 1;
    transform: perspective(400px) rotate(0);
}

.single-content:hover .title{
    bottom: -40px;
}

#profileLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-decoration: none;
    color: #fceeb8;
    display: flex;
    flex-direction: column;
}

.theIcon{
    text-decoration: none;
    color: #fceeb8;
    font-size: 3rem;
    transition: transform .15s ease;
}

.theIcon:hover{
    cursor: pointer;
    transform: translateY(-7px);
}

.profln{
    color: #fceeb8;
}

.iconLinks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}

.noClick{
    pointer-events: none;
    user-select: none;
}

@media only screen and (max-width: 554px){
    #welcome-section{
        padding: 20px;
    }
    
    .hello:hover + .frontEnd{
        opacity: 1;
        transform: translateY(15px);
    }

    .hello{
        font-size: 23px;
    }

    .frontEnd{
        font-size: 10px;
    }

    .projTitle{
        font-size: 23px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 180px); /* ensures equal distribution */
        gap: 30px; /* controls spacing between grid items */
        padding: 5px; /* reduced padding for alignment */
        justify-content: center; /* centers the grid items if they do not fill the line */
    }

    .single-content .title{
        font-size: 14px;
    }

    .img-text{
        font-size: 14px;
    }
}


@media only screen and (min-width: 555px) and (max-width: 1055px){
    .hello{
        font-family: "Rubik Mono One", monospace;
        font-size: 2rem;
        padding: 10px 50px;
        color: #3cc47c;
        user-select: none;
        transition: 0.3s;
    }

    .projTitle{
        font-size: 25px;
        color: #3cc47c;
        text-align: center;
        font-family: "Rubik Mono One", monospace;
        opacity: 0;
    }

    .hiddenY{
        opacity: 0;
        filter: blur(1px);
        transform: translateY(-100%);
        transition: all 1s;
    }
    
    .show{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }

    
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 250px); /* ensures equal distribution */
        gap: 70px; /* controls spacing between grid items */
        padding: 20px; /* reduced padding for alignment */
        justify-content: center; /* centers the grid items if they do not fill the line */
    }

    .single-content .title{
        font-size: 1rem;
    }

    .img-text{
        font-size: 1rem;
    }
}